<html>
    <head>
        <title>Express - Sessions</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
        <script>
        $(document).ready(function(){
            var email, password;

            $("#submit").click(function(){
                email = $("#email").val();
                password = $("#password").val();
                
                // Basic jQuery RESTFul API call
                $.post("/sessions", {
                    email: email,
                    pass: password
                },function(data){
                    if(data === "yes"){
                        location.href = "/views/page1.html";
                    }
                });
            });
        });
        </script>
    </head>
    <body>
        <input type="text" size="40" placeholder="Type your email" id="email"><br />
        <input type="password" size="40" placeholder="Type your password" id="password"><br />
        <input type="button" value="Submit" id="submit">
    </body>
</html>