<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Page1</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 

</head>
<body>
	Page 1 
	<br>
	<a href="/views/page2.html">Page2</a> <br>
	<a href="/logout">Log out</a>
<script>
	$(document).ready(function(){
                           
                // Basic jQuery RESTFul API call
                $.get("/sessions/page1",function(data){
                	if(data==='no'){
                		location.href = "/views/index.html";
                	}
                });
           
        });
</script>
</body>
</html>